@charset "UTF-8";
/* CSS Document */

body {
  padding-top: 20px;
  margin-right: 150px;
  margin-left: 150px;
}

/*UPPER NAVIGATION*/

.btn.welcome {
	background-color: #ffffff;
	color: #000;
	border-color: #00afdb;
	
}

.btn.welcome:hover,
.btn.welcome:focus,
.btn.welcome:focus {
  background-color: #32bfe2;
  color:#ffffff;
  text-decoration: none;
}

.dropdown-menu.profile {
	background-color: #cceff7;
	border-color: #99dff0;
}

.dropdown-menu.profile > li > a:hover,
.dropdown-menu.profile > li > a:focus {
  color: #ffffff;
  text-decoration: none;
  background-color: #99dff0;
}
.dropdown-menu.profile > .active > a,
.dropdown-menu.profile > .active > a:hover,
.dropdown-menu.profile > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.form-control.search {
	border-color: #32bfe2;
}

.btn.submit {
	border-color: #00afdb;
	background-color: #00afdb;
	color: #ffffff;
}

.btn.submit:hover,
.btn.submit:focus,
.btn.submit:focus {
  	background-color: #32bfe2;
  	color:#ffffff;
  	text-decoration: none;
}


/*MAIN NAVIGATION*/

@media screen and (max-width: 1200px) {
	.navbar-collapse.collapse {
		display: none !important;
	}
	.navbar-collapse.collapse.in {
		display: block !important;
	}
	.navbar-header .collapse, .navbar-toggle {
		display:block !important;
	}
	.navbar-header {
		float:none;
	}
}

.navbar.navbar-inverse {
  	border: none;
}
.navbar-header {
	color: #eeeeee;
}

ul.nav.nav-pills {
	padding-top:10px;
	padding-bottom:10px;
	color: #eeeeee;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  	color: #fff;
  	background-color: #337ab7;
}

.navbar .navbar-brand {
  	padding-top: 0px;
}

.navbar .navbar-brand img {
  	height: 100px;
  	padding-bottom: 25px;
}

.home a{
	color: #ffffff;
	background-color: #4db125;
	border-radius: 5px;
	margin-right: 10px;
}

.elementary > .dropdown-toggle {
  	color: #fff;
  	background-color: #00afdb;
  	border-color: #00afdb;
	margin-left: 10px;
	margin-right: 10px;
}

.secondary > .dropdown-toggle {
  	color: #fff;
  	background-color: #ff8500;
  	border-color: #ff8500;
	margin-left: 10px;
	margin-right: 10px;
}

.higher-ed > .dropdown-toggle {
  	color: #fff;
  	background-color: #59149f;
  	border-color: #59149f;
	margin-right: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.resource > .dropdown-toggle {
  	color: #fff;
  	background-color: #00afdb;
  	border-color: #00afdb;
	margin-left: 10px;
	margin-right: 10px;
}

.med > .dropdown-toggle {
  	color: #fff;
  	background-color: #ff8500;
  	border-color: #ff8500;
	margin-left: 10px;
	margin-right: 10px;
}

.estore a{
  	color: #fff;
  	background-color: #4db125;
  	border-color: #658d1b;
	margin-left: 10px;
	margin-right: 10px;
}

.contact > .dropdown-toggle {
  	color: #fff;
  	background-color: #59149f;
  	border-color: #59149f;
	margin-left: 10px;
	margin-right: 10px;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*TOP NAVIGATION WITH USER INFO*/
.navbar-text,
.img-circle,
.navbar-form {
	padding-top: 10px;
}

 .navbar-nav .dropdown {
	margin-top: 18px;
	margin-right: 13px;
 }

.row .nav .nav-pills {
	align-items: center;
}

.social li {
	margin-top: 18px;
	padding-left: 5px;
}

.resources {
	color: #4db125;
	text-shadow: 1px 1px #fff;
}

.btn.btn-default {
	background-color: #ffffff;
	color: #000;
	border-color: #00afdb;
	
}

.btn.btn-default a {
	color: #000;
	text-decoration: none;
}

.btn.custom {
	background-color: #4db125;
	border-color: #4db125;
	margin-top:10px;
}

.btn.custom a {
	color: #ffffff;
}

#youtube {
	padding-right: 25px;
}
	
/*.navbar-form navbar-right
.form-group,
.navbar-form navbar-right 
.btn .btn-default
{
	margin-right: 100px;
}*/


/*Chapter Header*/
.ch-header {
	color: #000;
	text-shadow: 1px 1px #fff;
	background-color: #F5F5F5;
	border-radius: 5px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}


/*Chapters*/

.table-contents {
	color: #000;
	text-shadow: 1px 1px #fff;
	background-color: #F5F5F5;
	border-radius: 5px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.table-contents h4 {
	color: #00afdb;
	
}
	

.chapters a{
	color:#000;
	text-shadow: none;
}
.chapters a:hover{
	color:#7a42b2;
	text-decoration: none;
}

.book-text {
	padding-left: 5px;
	padding-right: 5px;
}

.book-text p {
	font-size: 16px;
}

.book-info {
	color: #000;
	text-shadow: 1px 1px #fff;
	background-color: #F5F5F5;
	border-radius: 5px;
	padding-bottom: 10px;
	margin-bottom: 15px;
}

.book-info p {
	margin-top: 5px;
}

.btn.pdf {
	background-color: #00afdb;
	color: #fff;
	border-color: #00afdb;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn.pdf:hover,
.btn.pdf:focus,
.btn.pdf:focus {
  	background-color: #32bfe2;
  	color:#ffffff;
  	text-decoration: none;
}

.btn.comments {
	background-color: #ff8500;
	color: #ffffff;
}

.btn.comments:hover {
	background-color:#ff9d32;
}
.badge {
	color: #ffb566 ;
	background-color: #ffffff;
}

	
/*Page Previous and Next Chapter*/
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #00afdb;
  border: 1px solid #00afdb;
  border-radius: 5px;
  color: #fff;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 40px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #32bfe2;
  color: #fff;
}
/*Footer*/
.footer li {
	display:inline;
	align-items: center;
	padding-left: 40px;
	padding-top: 100px;
}